<meta name="viewport" content="width=550, initial-scale=1">
<body id='profilePage'>
  <div class="row">
<nav class = "twelve columns profileNav"
      <li>
        <%= form_tag('/log_out', method: :delete) do %>
        <%= submit_tag "Log-Out", :class => "profileLogOut" %>
        <% end %>
      </li>
      <p>
        YOU ARE NOW SIGNED IN to Squeaker
      </p>
      <h2>Welcome back to the site <%= @user.username %></h2>


      </nav>
        </div>

  <div id="wrapper" class="container">

  <div class="nav-top row">
      <div></div>
  </div>
  </div>
  <div>
      <%= form_for @squeak do |f|%>
        <%= f.label :message %>
        <%= f.text_field :message %>
        <%= f.label :image %>
        <%= f.file_field :file, id: 'file' %>
        <%= f.hidden_field :image, id: 'image' %>
        <%= f.submit(:class => 'enter') %>
      <% end %>
  </div>
<div class="container">
  <div class="row">
<!--
    <div class="squeaks-pane nine columns">
      <div id="squeaks-container">
        <div class="squeak">
        <% @user.squeaks.each do |squeak| %>
            <h5><%= squeak.message %></h5>
            <% end %>
          </div>
        </div>
        </div>

    <div class="unsqueaks-pane two columns">
      <div id="unsqueaks-container">
        <div class="squeak">
        <% @user.squeaks.each do |squeak| %>
        <%= form_tag("/squeaks/#{ squeak.id }", method: :delete) do %>
        <%= submit_tag "UnSqueak" %><br>
        <% end %>
        <% end %>
        </div>
        </div>
        </div> -->

</div>
</div>
<!--
            <div class="twelve column">
                <% @user.squeaks.each do |squeak| %>
                    <%= squeak.message %>
                    <%= form_tag("/squeaks/#{ squeak.id }", method: :delete) do %>
                    <%= submit_tag "UnSqueak" %><br>
                    <% end %>
                <% end %>
            </div>
          </div>
      </div> -->

<div class="container">
  <div class="row">
      <div class="twelve columns">
        <ul>

        <% @user.squeaks.order(:created_at).reverse.each do |squeak| %>
          <div class="row">
            <div class="three columns">
              <%= squeak.message %>
            </div>

            <div class="three columns">
              <img src="<%= squeak.image %>" class='squeak-image'/>
            </div>

            <div class= "two columns">
              <%= form_tag("/squeaks/#{ squeak.id }", method: :delete) do %>
                <%= submit_tag "UnSqueak", :class => "delete"%><br>
              <% end %>
            </div>
          </div>
        <% end %>
      </ul>
      </div>
    </div>
</div>

</body>
