<meta name="viewport" content="width=550, initial-scale=1">
<h1>Welcome to Squeaker</h1>
<h2>Sign-In</h2>

<%= form_tag('/log_in', method: :post) do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Log-In", :class => "enter" %>
<% end %>

<br>

<%= form_for User.new do |f| %>

  <%= f.text_field :username, :placeholder => :username %>
  <%= f.password_field :password, :placeholder => :password  %>
  <%= f.password_field :password_confirmation, :placeholder => :confirm_password %>
  <%= f.submit(:class => 'enter') %>

<% end %>
